<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sold Products</title>
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <script src="/public/js/index.js" defer></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </nav>
    <main>
      <h1 class="title">Sold Products</h1>

      <form class="form-control" action="/insert-sale" method="post">
        <div class="item">
          <label for="productId">Product*</label>
          <select name="productId" class="products-selection">
            <option value="">Select Product</option>
          </select>
        </div>
        <div class="item">
          <label for="quantity">Quantity*</label>
          <input
            type="number"
            name="quantity"
            placeholder="Enter Product Quantity..."
          />
        </div>
        <button type="submit" class="insert-btn">Insert</button>
      </form>

      <div class="products">
        <div class="products-info">
          <h3>Sold Products</h3>
          <input type="text" placeholder="Search" class="search-input" />
        </div>
        <table class="table-control products-table">
          <thead>
            <tr>
              <td>Id</td>
              <td>Name</td>
              <td>Quantity</td>
              <td>Price (Per Piece)</td>
              <td>Total</td>
              <td>Profit</td>
              <td>Date</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </main>
    <a
      target="_blank"
      href="https://github.com/iamajraj"
      style="
        display: block;
        margin-top: 10px;
        text-decoration: none;
        color: black;
        font-size: 14px;
      "
      >&copy; iamajraj | All Rights Reserved
    </a>
  </body>
</html>
