<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/products.css" />
    <script src="/public/js/products.js" defer></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </nav>
    <main>
      <h1 class="title">Products</h1>

      <form
        class="form-control products-form"
        action="/insert-product"
        method="post"
      >
        <div class="item">
          <label for="name">Product Name*</label>
          <input type="text" name="name" placeholder="Enter Product Name" />
        </div>
        <div class="item">
          <label for="stock">Stock*</label>
          <input type="number" name="stock" placeholder="Enter Product Stock" />
        </div>
        <div class="item">
          <label for="actualPrice">Actual Price (per piece)*</label>
          <input
            type="number"
            name="actualPrice"
            placeholder="Enter Product Actual Price"
          />
        </div>
        <div class="item">
          <label for="salePrice">Sale Price (per piece)*</label>
          <input
            type="number"
            name="salePrice"
            placeholder="Enter Product Sale Price"
          />
        </div>
        <div class="form-btns">
          <button type="submit" class="submit-btn">Insert</button>
          <button type="button" class="cancel-update-btn">Cancel Update</button>
        </div>
      </form>

      <div class="products">
        <div class="products-info">
          <h3>Products</h3>
          <div class="products-info-controls">
            <select name="selectStock" class="selection-stock">
              <option value="">Select</option>
              <option value="in_stock">In Stock</option>
              <option value="out_of_stock">Out Of Stock</option>
            </select>
            <input type="text" placeholder="Search" class="search-input" />
          </div>
        </div>
        <table class="table-control products-table">
          <thead>
            <tr>
              <td>Id</td>
              <td>Name</td>
              <td>Stock</td>
              <td>Sale Price</td>
              <td>Actual Price</td>
              <td>Date</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </main>
    <a
      target="_blank"
      href="https://github.com/iamajraj"
      style="
        display: block;
        margin-top: 10px;
        text-decoration: none;
        color: black;
        font-size: 14px;
      "
      >&copy; iamajraj | All Rights Reserved
    </a>
  </body>
</html>
